@{
    ViewData["Title"] = "Home Page";
}


<div class="container min-vh-100">
    <div class="row align-items-end justify-content-center min-vh-100">
        <div class="col-12 col-md-6 col-lg-5 mb-3">
            <div class="row mb-1">
                <div class="col-6">
                    <button id="btnFullscreen" class="w-100 btn btn-warning border-3 border-dark">Fullscreen</button>
                </div>
                <div class="col-3">
                    <button id="btnVolumeDown" class="w-100 btn btn-warning border-3 border-dark">Vol -</button>
                </div>
                <div class="col-3">
                    <button id="btnVolumeUp" class="w-100 btn btn-warning border-3 border-dark">Vol +</button>
                </div>
            </div>
            <video id="video"
                   class="video-js w-100"
                   preload="auto"
                   data-setup='{
                     "preload": "auto"
                   }'>
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                </p>
            </video>
        </div>
    </div>
</div>

<div class="modal d-flex" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content bg-black" style="background: url('/assets/images/background-loading-black-2.jpg') no-repeat fixed center; background-size: 110%">
            <div class="modal-body">
                <div class="h-100 d-flex flex-column justify-content-center align-items-center">
                    <h1 class="d-none">Nostalgia TV</h1>
                    <!--NostalgiaTV Logo-->
                    <div class="row w-100 justify-content-center">
                        <div class="col-6">
                            <img class="w-100" src="~/assets/images/NOSTALGIA-TV-LOGO.png" style=" filter: drop-shadow(5px 5px 5px #222); " />
                        </div>
                    </div>
                    <!--Buttons Pages-->
                    <div class="row w-100 justify-content-center  mb-5 pb-5">
                        <div class="col-1">
                            <button id="btnSimpson" class="btn btn-dark btn-serie">
                                <img class="w-100 h-100" src="~/assets/images/logos/simpson.png" style="object-fit: contain;" />
                            </button>
                        </div>
                        <div class="col-1">
                            <button id="btnCartoonNetwork" class="btn btn-dark btn-serie">
                                <img class="w-100 h-100" src="~/assets/images/logos/cartoon-network.webp" style="object-fit: contain;" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/video.js/dist/video.min.js"></script>
    <script src="~/lib/videojs-playlist/dist/videojs-playlist.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/assets/js/Home/Home.js"></script>
}